<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="1.0.7" targetFramework="net45" />
  <package id="libsodium-net" version="0.6.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Termine.Promises.Base" version="0.0.5494.23158" targetFramework="net45" />
  <package id="Termine.Promises.Encryption" version="0.0.5505.21427" targetFramework="net45" />
</packages>