<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net45" />
  <package id="NClone" version="1.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.1" targetFramework="net45" />
  <package id="Termine.Promises.Base" version="0.0.5529.29606" targetFramework="net45" />
  <package id="Termine.Promises.FluentValidation" version="0.0.5512.40555" targetFramework="net45" />
</packages>