<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="1.0.7" targetFramework="net45" userInstalled="true" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="libsodium-net" version="0.6.0" targetFramework="net45" userInstalled="true" />
  <package id="NClone" version="1.1.1" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" userInstalled="true" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.Base" version="0.0.5540.22053" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.Encryption" version="0.0.5539.25829" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.FluentValidation" version="0.0.5539.30931" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.NLogInstrumentation" version="0.0.5539.31022" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.WithProtobuf" version="0.0.5539.30936" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.ZMQ" version="0.0.5539.30939" targetFramework="net45" userInstalled="true" />
</packages>