<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Common.Signed" version="4.0.35" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.35" targetFramework="net45" />
  <package id="ServiceStack.Redis.Signed" version="4.0.35" targetFramework="net45" />
  <package id="ServiceStack.Text.Signed" version="4.0.35" targetFramework="net45" />
  <package id="Termine.Promises.Base" version="0.0.5494.23158" targetFramework="net45" />
  <package id="Termine.Promises.WithRedis" version="0.0.5505.22092" targetFramework="net45" />
</packages>