<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="PxConfig" type="Termine.Promises.Config.PxConfigSection, Termine.Promises" />
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="log4view" xsi:type="NLogViewer" address="udp://127.0.0.1:877" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="log4view" />
		</rules>
	</nlog>
	<PxConfig>
		<PxApplicationGroup name="olr.person" secret="12345" />
		<PxContexts>
			<PxContext name="default">
				<PxInits>
					<PxInit name="NLog" type="Termine.Promises.Logging.NLogPromiseConfigurator, Termine.Promises" order="0" />
				</PxInits>
			</PxContext>
			<PxContext name="default-2">
				<PxInits>y
					<PxInit name="-SubTest1.1" type=""  />
					<PxInit name="-SubTest1.2" type=""  />
				</PxInits>
			</PxContext>
		</PxContexts>
	</PxConfig>
	
</configuration>