<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="PxConfig" type="Termine.Promises.Config.PxConfigSection, Termine.Promises" />
	</configSections>

	<PxConfig>
		<PxApplicationGroup name="olr.person" secret="12345" />
		<PxContexts>
			<PxContext name="default">
				<PxInits>
					<PxInit name="NLog" type="Termine.Promises.Logging.NLogConfigurator, Termine.Promises" order="0" />
				</PxInits>
			</PxContext>
			<PxContext name="default-2">
				<PxInits>
					<PxInit name="-SubTest1.1" type=""  />
					<PxInit name="-SubTest1.2" type=""  />
				</PxInits>
			</PxContext>
		</PxContexts>
	</PxConfig>
	
</configuration>