<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Common.Signed" version="4.0.35" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.35" targetFramework="net45" />
  <package id="ServiceStack.Redis.Signed" version="4.0.35" targetFramework="net45" />
  <package id="ServiceStack.Text.Signed" version="4.0.35" targetFramework="net45" />
  <package id="Termine.Promises.Base" version="0.0.5493.38176" targetFramework="net45" />
</packages>