<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="2.5.0" targetFramework="net45" />
  <package id="lz4net" version="1.0.3.93" targetFramework="net45" />
  <package id="NClone" version="1.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net45" />
  <package id="Termine.Promises.Base" version="0.0.5532.41627" targetFramework="net45" />
  <package id="Termine.Promises.NLogInstrumentation" version="0.0.5529.29828" targetFramework="net45" />
  <package id="Termine.Promises.ZMQ" version="0.0.5529.29865" targetFramework="net45" />
  <package id="Topshelf" version="3.1.4" targetFramework="net45" />
  <package id="Topshelf.NLog" version="3.1.4" targetFramework="net45" />
</packages>