<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NClone" version="1.1.1" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="RabbitMQ.Client" version="3.5.0" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.Base" version="0.0.5554.20577" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.NLogInstrumentation" version="0.0.5554.19887" targetFramework="net45" userInstalled="true" />
  <package id="Termine.Promises.ZMQ" version="0.0.5539.31029" targetFramework="net45" userInstalled="true" />
  <package id="Topshelf" version="3.1.4" targetFramework="net45" userInstalled="true" />
  <package id="Topshelf.NLog" version="3.1.4" targetFramework="net45" userInstalled="true" />
</packages>